<html>
   <head>
       <script type="text/javascript" src="js/ajaxnaide.js"></script>
   </head> 
   <body> 
       <h1>aaaaaaaaa</h1>

       <h2>Fact</h2>
       <div id="fact">
         pole veel midagi
       </div>
        <h2>User</h2>
       <div id="user">
                    pole veel midagi
       </div>
       <h2>Date</h2>
       <div id="date">
                    pole veel midagi
       </div>
       <h2>Upvotes</h2>
       <div id="votes">
                    pole veel midagi
        </div>

        <button id="nupp">Lae fakt</button>

   </body>
</html>