<!DOCTYPE html>
<html>
<head>
	
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    <script src="js/app.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/websocket.js"></script>

    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>Factify | {{ title }}</title>
    
</head>

<body>

<div id="fb-root"></div>
<script src="//connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript">

      // Initialize the Facebook JavaScript SDK
      FB.init({
        appId: 'APP_ID',
        xfbml: true,
        status: true,
        cookie: true,
      });

      // Check if the current user is logged in and has authorized the app
      FB.getLoginStatus(checkLoginStatus);

      // Login in the current user via Facebook and ask for email permission
      function authUser() {
        FB.login(checkLoginStatus, {scope:'email'});
      }

      // Check the result of the user status and display login button if necessary
      function checkLoginStatus(response) {
        if(response && response.status == 'connected') {
          alert('User is authorized');

          // Hide the login button
          document.getElementById('loginButton').style.display = 'none';

          // Now Personalize the User Experience
          console.log('Access Token: ' + response.authResponse.accessToken);
        } else {
          alert('User is not authorized');

          // Display the login button
          document.getElementById('loginButton').style.display = 'block';
        }
      }
    </script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Factify</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class=""><a href="/best">Parimad<span class="sr-only"></span></a></li>
        <li class=""><a href="/newest">Uusimad<span class="sr-only"></span></a></li>
        <li><a href="#"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#if loggedin}}
           <li><a href="/create-fact">Postita uus</a></li>
           <li><a href="/myfacts">Minu faktid</a></li>
           <li><a href="/logout">Logi välja</a></li>
        {{else}}
          <li><a href="/login">Registreeri</a></li>
          <li><a href="/login">Logi sisse</a></li>
          <li><input id="loginButton" type="button" value="FACEBOOK!" onclick="authUser();" /></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
{{{body}}}
</div>

<div id="app-message" class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="message-content">blabl sdlkf jlasdf </span>
</div>

</body>
</html>


