

<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">


<div style="text-align:center;" class="row meg">
	<div class="col-md-2 ">

	</div>
	<div class="col-md-8 col-xs-8">
		<div class="panel panel-default">
		  <div class="panel-body fact-in" id = "fact">
		    Anatidaephobia is the fear that somewhere, somehow a duck is watching you.
		  </div>
		  <div class="panel-footer">Lisas : <strong>user225</strong> <button class="btn btn-primary btn-xs pull-right showcomments">Näita kommentaare (3)</button></div>
		</div>
	</div>
	<div style="text-align:center;" class="col-md-2">
		<div style="text-align:center;" class="row-xs-2 center">
			<button type="button"
					id="testBtn"
					class="btn btn-success glyphicon glyphicon-thumbs-up"
					data-loading-text=" ... ">
				14</button>
		</div>
        <div style="color:blue; text-align:center;" class="row-xs-2 center">
            <button type="button"
                    id="nupp"
                    class="btn btn-skip glyphicon glyphicon-hand-right blue"
                    data-loading-text=" ... ">
                </button>
        </div>
		<div style="text-align:center;" class="row-xs-2 center red">
			<button type="button"
                    id="testBtnDown"
                    class="btn btn-success glyphicon glyphicon-thumbs-down"
                    data-loading-text=" ... ">
				3</button>
	</div>
</div>

<div class="row comments" id="comments" style="display:none">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-primary">
		<div class="panel-heading panel-primary"></div>
		  <div class="panel-body">
			  <div class="row" style="margin-bottom:10px">
				  <div class="col-md-2" style="border-right:1px solid black">
				 	 <strong>nimi</strong>
				  </div>
				  <div class="col-md-10">
				  	Kasutaja1 kommentaar
				  </div>
			  </div>

			   <div class="row" style="margin-bottom:10px">

				  <div class="col-md-2" style="border-right:1px solid black">
				 	 <strong>nimi</strong>
				  </div>
				  <div class="col-md-10">
				  	Kasutaja2 kommentaar
				  </div>
			  </div>

			     <div class="row">

				  <div class="col-md-2" style="border-right:1px solid black">
				 	 <strong>nimi</strong>
				  </div>
				  <div class="col-md-10">
				  	Kasutaja3 kommentaar
				  </div>
			  </div>


		</div>
	</div>
	<div class="col-md-2"></div>
</div>


</div>


</div>

</div>

</div>