<div class="row" id="factcontainer">
   <div class="col-md-8 col-md-offset-2">
      <div class="row meg">
         <div class="col-md-2 ">
         </div>
         <div class="col-md-8 col-xs-8">
            <div class="panel panel-default">
               <div class="panel-body fact-in" id="factcontent">
                  Anatidaephobia is the fear that somewhere, somehow a duck is watching you.
               </div>
               <div class="panel-footer">
                  <div class="row">
                     <div class="col-md-6">Lisas : <strong id="factusername">user225</strong> </div>
                     <div class="col-md-6"><button class="btn btn-primary btn-xs pull-right showcomments">Näita kommentaare (3)</button></div>
                  </div>
               </div>
            </div>
         </div>
         <div  class="col-md-2">
            <div  class="row-md-2 center">
               <button type="button"
                  id="upvote"
                  class="btn btn-success"
                  data-loading-text=" ... "><span class="glyphicon glyphicon-thumbs-up"></span>
               <span id ="upvotecount">14</span>
            </button>
         </div>
         <div class="row-md-2 center">
            <button type="button"
               id="nextfact"
               class="btn btn-skip glyphicon glyphicon-hand-right blue"
               data-loading-text=" ... ">
            </button>
         </div>
         <div class="row-md-2 center red">
            <button type="button" id="downvote" class="btn btn-success" data-loading-text=" ... ">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <span id="downvotecount">3</span>
         </button>
      </div>
   </div>
   <div class="container" id="comments">
      <div class="row comments">
         <div class="col-md-8 col-xs-12  col-md-offset-0">
            <div class="panel panel-primary">
               <div class="panel-heading panel-primary"></div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-md-2">
                        <strong>nimi</strong>
                     </div>
                     <div class="col-md-10">
                        Kasutaja1 kommentaar
                     </div>
                  </div>
                  <div class="row" >
                     <div class="col-md-2">
                        <strong>nimi</strong>
                     </div>
                     <div class="col-md-10">
                        Kasutaja2 kommentaar
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-2">
                        <strong>nimi</strong>
                     </div>
                     <div class="col-md-10">
                        Kasutaja3 kommentaar
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-2"></div>
         </div>
      </div>
   </div>
</div>
</div>
</div>