<h1>Kaart</h1>
<p>Factify külastajate arvud kaardil asukohtade järgi</p>
<div id="map"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARXbo8hxUXdIm6Wx4IcLhJ5w6x_qXlCeY&callback=initMap">
</script>
