<div class="row">
    <div class="col-md-8 col-md-offset-2">

    <h3>Minu postitused</h3>

    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>Fakt</th>
                <th>Muuda</th>
            </tr>
            </thead>
            <tbody>

            {{#each facts}}

            <tr>
                <td>{{counter @index}}</td>
                <td>{{fact}}</td>
                <td><button class="button" data-id="{{id}}">Muuda</button>
                    <button class="button" data-id="{{id}}">Kustuta</button>
                </td>
            </tr>

             {{/each}}

           </tbody>
        </table>


    </div>
    </div>
</div>