<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h2>Uusimad faktid</h2>
    <div class="table-responsive">
        
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Kasutaja</th>
                <th>Fakt</th>
                <th>Skoor</th>
                <th>Postitamise aeg</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Kennu76</td>
                <td>10 things about Russia</td>
                <td>420</td>
                <td>02.02.17</td>
            </tr>
            <tr>
                <td>2</td>
                <td>xXx</td>
                <td>Cool cats</td>
                <td>350</td>
                <td>01.02.17</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Jebus</td>
                <td>Cool fact #5463</td>
                <td>300</td>
                <td>14.01.17</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Yoloman</td>
                <td>News stories</td>
                <td>258</td>
                <td>01.01.17</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Kennu76</td>
                <td>10 things about USA</td>
                <td>69</td>
                <td>01.01.17</td>
            </tr>
            </tbody>
        </table>


    </div>
   

    </div>
</div>